﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DanhMucControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.SanPham.DanhMucSanPham.DanhMucControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
