﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdminLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.AdminLoadControl" %>
<asp:PlaceHolder ID="plAdminLoadControl" runat="server"></asp:PlaceHolder>
