﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ThanhVienLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Display.ThanhVien.ThanhVienLoadControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>