﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DanhMucTinTucLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.TinTuc.DanhMucTinTuc.DanhMucTinTucLoadControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
