﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NhomQuangCaoLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.QuangCao.NhomQuangCao.NhomQuangCaoLoadControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
