﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="vpc_dr.aspx.cs" Inherits="WebApplication2.vpc_dr" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Kết quả thanh toán</title>
    <style type="text/css">
        body{font:normal 12px Tahoma}
        .result{position:absolute;z-index:2;top:60px;left:0;font-size:60px;width:100%;text-align:center}
        a.homepage{color:blue}
    </style>  
</head>
<body>
    <form id="form1" runat="server">
        <a href="/" class="homepage" title="Về trang chủ">Về trang chủ</a>
    </form>
</body>
</html>
