﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DisplayLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Display.DisplayLoadControl" %>
<asp:PlaceHolder ID="plDisplayLoadControl" runat="server"></asp:PlaceHolder>
