﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LoaiSanPhamControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.SanPham.LoaiSanPham.LoaiSanPhamControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
