﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ChiTietTinTuc.ascx.cs" Inherits="WebBanHang.CMS.Display.TinTuc.ChiTietTinTuc" %>
<div class="news-detail col-md-12 py-3 px-4">
    <asp:Literal ID="ltrTinTuc" runat="server"></asp:Literal>
</div>
