﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DanhSachTinTuc.ascx.cs" Inherits="WebBanHang.CMS.Display.TinTuc.DanhSachTinTuc" %>
<div class="product-list mt-4">
    <asp:Literal ID="ltrDanhMucTinTuc" runat="server"></asp:Literal>                 
</div>