﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TinTucLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Display.TinTuc.TinTucLoadControl" %>

<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>