﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TrangChuTinTuc.ascx.cs" Inherits="WebBanHang.CMS.Display.TinTuc.TrangChuTinTuc" %>
<!-- Danh mục tin tức -->
<asp:Literal ID="ltrDanhMucTinTuc" runat="server"></asp:Literal>
