﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NhaSanXuatControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.SanPham.NhaSanXuat.NhaSanXuatControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
