﻿*{
    box-sizing: border-box;
}

body{
    font-size: 12px;
    font-family: Verdana;
    color: #333;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*Class chung*/

.w250 {
    width: 250px;
}

.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}.w120 {
    width: 120px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.cb{
    clear:both;
}

.tar{
    text-align: right;
}

/*Phần header*/
#header{
    height: 100px;
    overflow: hidden;
    background-color: #FFFF;
}

#header .logo{
    float: left;
    line-height: 100px;
}

#header .accountMenu{
    float: right;
    line-height: 100px;
}

.container{
    margin: 20px;
}

/*Phần Menu*/
.Menu {
    background-color: #3D75EB;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.Menu ul, .Menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.Menu li a{
   display: inline-block;
   padding: 10px 15px; 
   color: #FFFF;
   font-weight: bold;
}

.Menu li a.current {
    background-color: #1C356B;
}

.Menu li:hover{
    background-color: #1C356B;
}

/*CSS cột trái trang admin*/
.colLeft {
    float: left;
    width: 260px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
}

.colLeft .head{
    background-color: #f9f9f9; 
    padding: 10px;
    font-weight: bold;
    color: #3C496B;
    border-top: solid 1px #dfdfdf;
    border-bottom: solid 1px #dfdfdf;
}

.colLeft a{
    color: #333;    
}

.colLeft a:hover{
    color: #1C356B;
}

.colLeft ul li{
    padding: 5px;
    list-style-type:none;
}

.colLeft li a.current{
    color: #1C356B;
    font-weight: bold;
}


/*CSS cột phải trang admin*/
.colRight {
    float: right;
    width: calc(100% - 280px);
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
}

.colRight .head{
    height: 40px;
    background-color: #85A6EE;
    font-weight: bold;
    padding-left: 15px;
    line-height: 40px;
}

.colRight .field{
    width: 70%;    
}

.colRight .field .attr{
    width: 20%;
    float: left;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.colRight .field .val{
    width: 70%;
    float: left;
    padding: 10px;
}

.colRight input[type=text]{
    width: 250px;
}



.colRight .field .val textarea{
    width: 250px;
    height: 100px;
}

.btn {
    width: 100px;
    padding: 5px 15px;
    background-color: #305BB8;
    color: #f9f9f9;
    border: 1px solid #808080;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
}

.btnThemMoi{
    margin-right: 20px;
}

.btnHuy {
    background-color: #85A6EE;
}

.colRight .successNoti {
    color: red;
    font-weight: bold;
    font-size: 16px;
    padding: 10px ;
    margin-bottom: 15px;
    text-align:center;
    background-color: #dfdfdf;
}

/*Trang hiển thị */
div.tbl-hienthi{
    padding: 10px;
}

.btnTimKiem {
    color: #fff;
    background-color: #1C356B;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.txtTimKiem{
    height: 30px;
    line-height:30px;
}

.tbl-danhmuc{
    border-collapse:collapse;
    width: 100%;
}

table.tbl-danhmuc tr,
table.tbl-danhmuc td,
table.tbl-danhmuc th {
    border: 1px solid #305BB8;
    padding: 5px;
}

table.tbl-danhmuc th{
    background-color: #85A6EE;
    color: #fff;
}

.colId, .colSup, .colDis, .colCat {
    text-align: center;
    width: 50px;
}
.colNote {
    text-overflow: ellipsis;
}

.colImg{
    width: 40px;
    height: 40px;
}

.colTool{
    text-align: right;
    width: 80px;
}

.colTool a{
    display: inline-block;
    width: 30px;
    height: 30px;
}


.colGua {
    text-align: center;
    width: 70px;
}

.colQua {
    text-align: center;
}

.colCos{
    text-align: center;
    width: 70px;
}

.colImg{
    position: relative;
    z-index: 1;
}

.colImg .img-display {
    width: 50px;
    height: auto;
}

.colImg .img-hover {
    width: 200px;
    height: auto;
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 50px;
}

.colImg:hover .img-hover{
    display: inline-block;
}

.head .btnLoadInsert {
    display: inline-block;
    background-image: url('../CSS/addbutton.png');
    background-repeat: no-repeat;
    background-position: top 5px left;
    padding-left: 35px;
    padding-right: 10px;
    color: #fff;
}

.btnLoadEdit {
    background-image: url('../CSS/editbutton.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btnLoadDelete {
    background-image: url('../CSS/deletebutton.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*Trang chỉnh sửa*/
.img-load{
    max-width: 200px;
    height: auto;
}