﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">--%>
    <<%--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>--%>
    <%--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>--%>
    <link href="Libs/bootstrap.min.css" rel="stylesheet" />
    <script src="Libs/jquery.min.js"></script>
    <script src="Libs/bootstrap.min.js"></script>
</head>
<body style="height: 1500px">

    <nav class="navbar navbar-inverse  fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 50px">
        <h3>Fixed Navbar</h3>
        <div class="row">
            <div class="col-md-4">
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
            </div>
            <div class="col-md-4">
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
            </div>
            <div class="col-md-4">
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
            </div>
        </div>
    </div>

    <h1>Scroll this page to see the effect</h1>

</body>
</html>
