﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DanhSachTinTucLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.TinTuc.DanhSachTinTuc.DanhSachTinTucLoadControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
