﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="KhuyenMaiLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.KhuyenMai.KhuyenMaiLoadControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
