﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DanhSachSanPham.ascx.cs" Inherits="WebBanHang.CMS.Display.SanPham.DanhSachSanPham" %>
<div class="product-list mt-4">
    <asp:Literal ID="ltrDanhMucSanPham" runat="server"></asp:Literal>                 
</div>