﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SanPhamLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Display.SanPham.SanPhamLoadControl" %>

<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>