﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SanPhamTimKiem.ascx.cs" Inherits="WebBanHang.CMS.Display.SanPham.SanPhamTimKiem" %>
<div class="product-list mt-4">
    <asp:Literal ID="ltrDanhMucSanPham" runat="server"></asp:Literal>                 
</div>