﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TrangChuSanPham.ascx.cs" Inherits="WebBanHang.CMS.Display.SanPham.TrangChuSanPham" %>
<!-- Danh mục sản phẩm -->
<div class="product-list mt-4">
    <asp:Literal ID="ltrDanhMucSanPham" runat="server"></asp:Literal>                 
</div>