*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto;
    background-color: #f8fafc;
}

@media (min-width: 1200px) {
    .container {
        min-width: 1300px;
    }
}

a{
    text-decoration: none;
}

/* Phần header */
.header {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 4px #d8e6fb;
}

.banner{
    border-radius:10px;
}

/* Trang Main */
.main {
    background-color: #f8fafc;
}

/* Phan Menu */

.spacer {
    width: 100%;
    height: 125px;
}



/*.menu-nav {
    background-color: #772EE8;
    border-radius: 5px;
}*/

.menu-nav ul li a {
    /*text-decoration: none;*/
    color: #606060;
    font-weight: bold;
    font-size: 17px;
}

.menu-nav ul li a:hover {
    text-decoration: solid;
}

.login-regis a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.login-regis a:hover{
    text-decoration: none;
}

.btn-regis a::after{
    content: "  /   ";
}

/* Thanh công cụ */
.toolbar div .hotline {
    font-weight: bold;
    background-color: #2E4AE8;
    color: #fff;
}

.shopping-cart a{
    text-decoration:none;
    font-size: 18px;
    font-weight: bold;
}

.badge:after {
    content: attr(value);
    font-size: 12px;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: 0.9;
}


/* Phần danh mục */

div.product-category {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0px 0px 8px 0px #dddddd;
}

.product-category p:first-child{
    background-color: #2E4AE8;
    color: #fff;
}

.product-category p {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #606060;
}

.product-category ul {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

div.product-category ul li{
    list-style-type: none;
}

div.product-category ul li:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.product-category ul li a {
    padding-left: 30px;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #606060;
    text-decoration: none;
}

.product-category ul li:hover{
    background-color: #2E4AE8;       
}

.product-category ul li a:hover{
    color: #fff;
}

/* Phần tư vấn khách hàng */
.support {
    background-color: #772EE8;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px #dddddd;
}

.support ul{
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.support ul li:nth-child(2){
    border-bottom: 1px solid #772EE8;
    color: #fff;
    text-align: center;
}

.support ul li{
    list-style-type: none;
    border-bottom: 1px solid #808080;
}

.support ul li:last-child{
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom: none;
}

.support-info {
    border-bottom: 2px solid #fff;
    background-color: #fff;
    color: #606060;
}

.support-attr{
    font-weight: bold;
}

/* Phần thông tin thanh toán */
.transaction {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 8px 0px #dddddd;
}

.transaction ul li{
    list-style-type: none;
}

.transaction-head {
    background-color: #2E4AE8;
    color: #FFF;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.transaction-info {
    /* background-color :#3387FF; */
    border-bottom: 1px solid #2E4AE8;
    color: #606060;
    font-weight: bold;
}

.transaction-info:last-child{
    border: none;
}


/* Cột phải */
/* Nội dung quảng cáo */
.colRight {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 8px 0px #dddddd;
}

.slide-item{
    border-radius: 15px;
}

.advertise-img img{
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.banner-mid{
    max-width: 100%;
}

.head-mid {
    color: #FF5E22;
    font-size: 25px;
    font-weight: bold;
}



/*Phần hiển hị sản phẩm*/
.product-list a{
    text-decoration: none;
}

.product-item {
    overflow: hidden;
}

.product-item a img{
    transition: all 1.1s ease;
}

.product-item:hover a img{
    transform: scale(1.1);
}

.product-detail-name {
    font-size: 25px;
    font-weight: bold;
}

.product-detail-cost {
    font-size: 22px;
    font-weight: bolder;
    color: #FF5E22;
}

.product-detail-img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

/*Phần hiển thị tin tức*/
.news-list a {
    text-decoration: none;
    color: #000;
}

.news-list-head a{
    color: #FF5E22;
    font-size: 25px;
    font-weight: bold;
}


.news-list-img img {
    border-radius: 15px;
}

.news-list-name{
    font-weight: bold;
    font-size: x-large;
}

/*.news-list-second:before {
    content: "+ ";
    white-space: pre;
}*/

.news-detail-view {
    background-color: #d8e6fb;
}

.news-detail-content img{
    max-width: 100%;
    height: auto;
}

.news-list-second a{
    font-weight: bold;
    font-size: 20px;
}


/*Phần giỏ hàng*/
.cart a{
    text-decoration: none;
}

.cart-head {
    background-color: #2E4AE8;
    border-radius: 6px;
    color: #fff;
    font-size: x-large;
}


.cart-total-money {
    font-size: x-large;
}


/* Phần footer */
.footer {
    background-color: #2E4AE8;
}

.footer-content{
    
}