﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DanhSachSanPhamControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.SanPham.DanhSachSanPham.DanhSachSanPhamControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
