﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DanhSachQuangCaoLoadControl.ascx.cs" Inherits="WebBanHang.CMS.Admin.QuangCao.DanhSachQuangCao.DanhSachQuangCaoLoadControl" %>
<asp:PlaceHolder ID="plControl" runat="server"></asp:PlaceHolder>
